POSTGRES_USERNAME=postgres 
POSTGRES_PASSWORD=sua_senha_do_postgress
POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_DATABASE=nome_do_seu_banco

JWT_SECRET=top_secret

PORT=4000

DATABASE_URL=postgresql://${POSTGRES_USERNAME}:${POSTGRES_PASSWORD}@${POSTGRES_HOST}:${POSTGRES_PORT}/${POSTGRES_DATABASE}?schema=public